{% extends "PharmacieVenteBundle:Achete:index.html.twig" %}

 {% block main %}

         <div class="row">

             <div class="col-md-3">
                 <p class="lead">Gestion des ventes</p>
                 <div class="list-group well">
                     <a href="#" class="list-group-item">médicament générique </a>
                     <a href="#" class="list-group-item">médicament biosimilaire </a>
                     <a href="#" class="list-group-item">médicament orphelin </a>
                 </div>
             </div>

             <div class="col-md-9">


                 <div class="row carousel-holder">

                     <div class="col-md-12">

                         <form class="form-search pull-right">
                             <input id="Search" name="recherche" type="text" class="input-medium search-query">
                             <button type="submit" class="btn">Rechercher</button>
                         </form>
                     </div>

                 </div>

                 <div class="row">

                     <div class="span4">

                       <form  action="{{ path('gestionstock_clientajouter_achete') }}" method="get">

                           <center>    <select class="span1" name="clients">
                                     {% for tag in client %}
                                         <option value="{{ tag.id }}">{{ tag.prenom }}</option>
                                     {% endfor %}
                                 </select>
                           </center>
                                 <br/>
                                 <br/>

                                 <div>
                                     <button class="btn btn-success pull-right">Valider</button>

                                 </div>
                             </form>


                         <div class="btn btn-success">
                                 <a href="{{ path('gestionstock_ajouter_achete') }}">Retour</a>
                             </div>

                     </div>




                 </div>


             </div>

         </div>



 {%endblock%}