{% extends "GestionStockBundle::template.html.twig" %}


<div class="col-md-12" >
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h1>Bng</h1>
                bassir{% block contenu %}
            </div>
        </div>
    </div>

    {% endblock%}ou ngom