#corpsTemplate{
    margin: auto;
     background-color: RGB(249,223,143);
}

#container
{
    padding-top: 3%;
    margin: auto;
    height: auto;
    width: 980px; 
    

}

#portofolioAccueil img
{
    border: 4px solid ;
}

#portofolioAccueil h5
{
    text-align: center;
    background-color: #461900;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#blockInfo h4
{
    text-align:center;
    background-color: #83b719; 
    color: white; padding: 10px; 
    border-radius: 5px;
}

#blockInfo a
{
    background-color: #461900; 
    color: white;
}

#footer
{
    text-align:center;
    background-color: #83b719; 
    color: white; 
    border-radius: 5px;
}

#blockInfo center
{
    background-color: white;
    border-radius: 5px;
}

#portofolioPresentation h4
{
    text-align:center;
    background-color: #83b719; 
    color: white; 
    padding: 10px; 
    border-radius: 5px;
}

.barrehaut li a
{
    color: white;
}

.icone_connexion a
{
    color: white; 
    background-color: #461900
}

#heure
{
    color:white;
    font-style: italic;
    font-size: 1.2em;
    border-radius: 0px;
}

#form_login
{

    padding: 5px;
    margin: auto;
    width: 40%;
    height: auto;
}

#xml
{
    width: 48%;
    margin-right: 2%;
    float: left;
}

#maj
{
    width: 48%;
    float: left;

}
.titre
{
    background: white;
    color: red;

}

#link ul li a:hover
{
    background-color: white;
    color: red;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0;}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/load.gif") center no-repeat #fff;
}
.titreRapport
{
    text-align: center; 
    padding: 5px; 
    background-color: #461900; 
    color: #83b719; 
    font-weight: bold;
}
.fixe
{
    display: block;
}
.flot
{
    display: none;
}