{% extends "GestionInventaireBundle::templateInventaire.html.twig" %}

{% block tableInventaire %}

    <div class="tableauInventaire"><table>
            <caption>Tableau Inventaire Annuel</caption>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Date de Péremption</th>
                    <th>header</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="2">Quantité total</th>
                    <th>Quantité</th>
                    <th>Date de Péremption</th>

                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
            </tbody>
        </table></div>
{% endblock %}