.tableauInventaire table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    border: 2px solid #00a157;

}
.tableauInventaire {
    background: #fff;
}
.tableauInventaire table td, .datagrid table th {
    padding: 2px 10px;
}
.tableauInventaire table thead th {
    background-color:#279905;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #16A81B;
}
.tableauInventaire table thead th:first-child {
    border: 3px;
}
.tableauInventaire table tbody td {
    color: #296B11;
    border-left: 1px solid #00a157;
    font-size: 13px;
    font-weight: bold;
}

