.menuLeft li .titremenu
{
	color: white; 
	text-decoration: none; 
	font-size: 1em; 
	background-color: #461900;
}

.menuLeft li ul
{
	border-radius: 0; 
	width:100%; 
	height: auto; 
	position: relative;
}

.menuLeft li ul li span a
{
	color: #461900; 
	text-decoration: none; 
	background-color: none;

}

.menuLeft li .legende li a
{
	color: #461900;  
	background-color: none;
}
.menuLeft li .legende li
{
	color: #461900;
	background-color: white;
}

.menuLeft li ul li
{
	background-color: RGB(249,223,143);
	text-align:left; 
	padding: 10px;
}

.footerDashboard
{
	color: black;
	background-color: RGB(249,223,143);
	text-align: center;
	bottom: 50;
	position: absolute;
	width: 99%;
	padding: 3px;
}
.logoDashboard
{
	background: white;
}
.formtotal
{
	color: white; 
	background-color:#461900;
	font-size: 1em;
	padding:10px;
	border-radius: 10px;
}

.formnav
{
	color: #461900; 
	background-color: RGB(249,223,143);
	font-size: 1em;
}
#mytable thead th
{
	font-size: 0.9em; 
	color:white; 
	background-color:#83b719;
}

#mytable tbody td
{
	font-size: 0.8em;
}
#mytable tbody td a
{
	width: 33%;
	float: left;
}