{% extends "PharmacieAccueilBundle:Template:template1.html.twig" %}
{% block contain_menu_left %}
	<ul class="list-group">
		<li class="list-group-item alert-success"><span class="btn-block"><a href="{{ path("gestion_stock_souscategorie_lister")}}"><span class="glyphicon glyphicon-book"></span> Mes catégories</a></span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><a href="{{ path("gestion_stock_lister_produit")}}"><span class="glyphicon glyphicon-book"></span> Mes produits</a></span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><a href="{{ path("gestion_stockage_lister_stock")}}"><span class="glyphicon glyphicon-book"></span> Mes stocks</a></span></li>
	</ul
{%endblock%}