{% extends "PharmacieStockBundle:Produit:lister.html.twig" %}
{% block table %}
<center><h4 class="panel-heading alert-danger">Statistiques produit</h4></center>
            <hr class="colorgraph">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered">
                <thead>
                    <th>Libellé</th>
                    <th>Nombre total produits</th>
                    <th>Prix Unitaire</th>
                    <th>Estimation coût (F CFA)</th>
                    <th>Graphe</th>

                    
                </thead>
                <tbody>
                    {% for tag in produits %}
                         <tr>

                            <td>{{ tag.libelle }}</td>
                            <td>{{ tag.nb_produits }}</td>
                            <td>{{ tag.prixunitaire }}</td>
                            <td>{{ tag.estimation_cout }}</td>
                            <td></td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}