{% extends "PharmaciePharmacienBundle::template.html.twig" %}

{% block titre %}
    
        <span class="navbar-brand" href="#"><p id="heure"></p></span>
    
{% endblock %}

{% block logout %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="">Déconnexion</a></li>
        </ul>
    </li>             
{% endblock %}

{% block contenu%}
 <div id="container" class="container container-fluid">
    {% block menuCentre %}
        
    {% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-sm-6 col-md-4" id="portofolioPresentation">
                <div class="thumbnail">
                    <h4>Vente de produits</h4>
                    <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmaciepharmacien/images/cash.png') }}">
                </div>
            </div>
            <div class="col-sm-6 col-md-4" id="portofolioPresentation">
                <div class="thumbnail">
                     <h4>Comptabilité</h4>
                   <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmaciepharmacien/images/compta.jpg') }}">
                </div>
            </div>
            <div class="col-sm-6 col-md-4" id="portofolioPresentation">
                <div class="thumbnail">
                    <h4>Statistiques</h4>
                    <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmaciepharmacien/images/statistique.jpg') }}">
                </div>
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}
